<tr>
    {% set items = order.lineItems.elements
        |productSort
        |filter(item => item.type != 'customized-products') %}
    <th scope="row" rowspan="{{ items|length }}">{{ number }}</th>
    <th scope="row" rowspan="{{ items|length }}">{{ order.orderNumber }}</th>
    <td rowspan="{{ items|length }}">
        {{ order.orderCustomer.firstName }} {{ order.orderCustomer.lastName }}
    </td>
    {% for id, orderItem in items %}
        {% if loop.first == false %}
            <tr>
        {% endif %}
        <td>
            {% set name = orderItem.product.translated.name %}
            {% if orderItem.type == 'customized-products-option' %}
                {% set name = 'mettware.list.withExtra'|trans ~ ' ' ~ orderItem.label %}
                {% if orderItem.payload.type == 'textfield' %}
                    {% set name = orderItem.payload.value %}
                {% endif %}
            {% elseif orderItem.type == 'promotion' %}
                {% set name = orderItem.label %}
            {% endif %}

            {{ name }}
            {% set nameExtension = '' %}
            {% for option in orderItem.product.options %}
                {% if loop.first %}
                    {% set nameExtension = nameExtension ~ ' - ' %}
                {% endif %}
                {% set nameExtension = nameExtension ~ option.translated.name %}
                {% if loop.last == false %}
                    {% set nameExtension = nameExtension ~ ', ' %}
                {% endif %}
            {% endfor %}

            {{ nameExtension }}
        </td>
        <td>
            {{ orderItem.product.manufacturer.translated.name }}
        </td>
        <td>
            {{ orderItem.quantity }}
        </td>
        <td>
            {{ orderItem.totalPrice|currency }}
        </td>
        {% if loop.first %}
            <td rowspan="{{ items|length }}">
                {{ order.amountTotal|currency }}
            </td>
        {% endif %}
        {% if loop.last == false %}
            </tr>
        {% endif %}
    {% endfor %}
</tr>
