{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% if isStopped %}
        <div class="alert alert-warning p-3">
            {{ 'mettware.orders.stopped'|trans }}
        </div>
    {% endif %}
    <div data-mettware-plugin data-mettware-plugin-options='{
             "stopRoute": "{{ path('frontend.mettware.stop-order') }}",
             "csrfToken": "{{ csrf_token('frontend.mettware.stop-order', {"mode": "token" }) }}"
             }'>
        <table class="table table-hover table-responsive-md border-primary">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'mettware.list.orderNumber'|trans }}</th>
                <th scope="col">{{ 'mettware.list.name'|trans }}</th>
                <th scope="col">{{ 'mettware.list.order'|trans }}</th>
                <th scope="col">{{ 'mettware.list.count'|trans }}</th>
                <th scope="col" colspan="2">{{ 'mettware.list.price'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                {% sw_include '@Mettware/storefront/mettware/order-row.html.twig' with { 'number': loop.index } %}
            {% endfor %}
            </tbody>
        </table>

        <div class="card mt-4 border-primary">
            <div class="card-header text-center bg-primary">
                {{ 'mettware.order.overview'|trans }}
            </div>
            <ul class="list-group list-group-flush">
                {% for countAggregate in orders.aggregations.get('count').buckets %}
                    <li class="list-group-item">
                        {{ 'mettware.summary.count'|trans }}: {{ countAggregate.result.sum }}x {{ countAggregate.key }}
                    </li>
                {% endfor %}
            </ul>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col-9">
                        <div>
                            {{ 'mettware.summary.totalCount'|trans }}: {{ orders.aggregations.get('total-count').sum }}
                        </div>
                        <div>
                            {{ 'mettware.summary.total'|trans }}: {{ orders.aggregations.get('sum').sum|currency }}
                        </div>
                    </div>
                    <div class="col-3 message-wrapper">
                        <button type="button" class="btn btn-danger stop-button">{{ 'mettware.orders.stop'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {% if isStopped == False %}

        {% endif %}
    </div>
{% endblock %}
