{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar_language %}
    <div style="text-align: center;margin-top: 5px;">
        <a class="btn btn-primary btn-block btn-buy" title="{{ 'mettware.order.overview'|trans }}" aria-label="{{ 'mettware.order.overview'|trans }}" href="{{ path("frontend.mettware.order") }}">
            {{ 'mettware.order.overview'|trans }}
        </a>
    </div>
    {{ parent() }}
{% endblock %}
